<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Body</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div>
    <% @blogs.each do |blog| %>
        <div><%= blog.title %></div>
        <div><%= blog.subtitle %></div>
        <div><%= blog.body %></div>
        <div><%=image_tag blog.image %></div>
        <div><%= link_to 'Show', blog %></div>
        <div><%= link_to 'Edit', edit_blog_path(blog) %></div>
        <div><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  </div>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
