<div id="main_div">
  <div id="header_div">
    <div id="header_left" class="foothead">
      <p id="title_p"><span>B</span>abble <span>B</span>log</p>
    </div>
    <div id="header_right">
      <ul>
        <li><%= link_to "Home", pages_home_path %></li>
        <li><%= link_to "Blogs", blogs_path %></li>
        <li><%= link_to "Gallery", pages_gallery_path %></li>
        <li><%= link_to "Reader", pages_reader_path %></li>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </div>
  </div>
  <div id="content_div">

  <div id="gal_div">
        <% @blog_items.each do |blog| %>
            <div><%=image_tag blog.image %></div>
        <% end %>

  </div>

  <div id="footer_div" class="foothead">
    <p><em>&reg Registered trademark of nothing at all, no rights reserved</em></p>
  </div>
</div>